.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

FormInput {
    align-self: center;
}

input { 
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    display: flex;
    align-self: center;
    justify-content: center ;
    align-items: center;

    font-size: large;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

label{
    padding: 7px;
    align-self: self-start;
    font-size: 12px;
    color: gray;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}